.grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.gridElement {
    border: 1px solid;
}

.gridRow {
    display: flex;
}

.gridSquare {
    height: 50px;
    width: 50px;
}